<script src="/public/js/map/kakao/target.js" defer></script>

<h1>Kakao Map - Target</h1>
<div id="map" style="width:100%;height:400px;"></div>

<button class='btn btn-primary mt-3 me-1' onclick="goTarget('판교역')">판교역</button>
<button class='btn btn-primary mt-3 me-1' onclick="goTarget('강남역')">강남역</button>