<script src="/public/js/boards/list.js" defer></script>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">author</th>
    </tr>
  </thead>
  <tbody id="boards"></tbody>
</table>